<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <head>
        <title>yash-circle</title>
        <meta charset="UTF-8">
        <meta name="description" content="A simple AngularJS circle progress bar">
        <meta name="keywords" content="JavaScript,AngularJS,Progress,Circle">
        <meta name="author" content="Yashwanth Hari Krishnan">
        <style type="text/css">
            body {
                text-align: center;
            }
        </style>
    </head>
    <body ng-app="app" ng-controller="YashCircleDemoCtrl">
        Circle 1: Max : 100 Increment: 10
        <br><br> <input type="number" ng-model="circle1Value" step="10" min="0" max="100">

        <yash-circle
                c-radius="300"
                c-value="circle1Value"
                c-max="100"
                c-fill-n-text-color="rgb(58,181,74)"
                c-background-color="rgb(157,157,157)">
        </yash-circle>
        <br>

        Circle 2: Max : 50 Increment: 5
        <br><br> <input type="number" ng-model="circle2Value" step="5" min="0" max="50">

        <yash-circle
                c-radius="220"
                c-value="circle2Value"
                c-max="50"
                c-fill-n-text-color="orange"
                c-background-color="brown">
        </yash-circle>

        <script src="./bower_components/angular/angular.min.js"></script>
        <script src="./bower_components/raphael/raphael.min.js"></script>
        <script src="./dist/yash-circle.min.js"></script>
        <script src="./app.js"></script>
    </body>
</html>
